<%= stylesheet_link_tag 'inform', :media => "all" %>

<div class="card">

  <div class="login-element">

    <div class="login-title">
      <h2>ログイン</h2>
      <p>※登録したメールアドレスとパスワードを入力してください。</p>
    </div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <p>remember me</p>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "ログイン🔒" %>
      </div>
      
    <% end %>
    <%= render "users/shared/links" %>
  </div>
</div>