<%= stylesheet_link_tag 'header_footer' ,:media => "all"%>



<header>

    <h1>
        <div class="title_big2">
                <svg viewbox="0 0 100 110">
                <defs>
                <linearGradient id="gradient" x1="0" x2="0" y1="0" y2="1">
                    <stop offset="1000%" stop-color="rgb(0, 0, 0)"/>
                    <stop offset="100%" stop-color="rgb(250, 250, 250)"/>
                </linearGradient>
                <pattern id="wave" x="0" y="20" width="120" height="20" patternUnits="userSpaceOnUse">
                    <path id="wavePath" d="M-40 9 Q-30 7 -20 9 T0 9 T20 9 T40 9 T60 9 T80 9 T100 9 T120 9 V20 H-20z" mask="url(#mask)" fill="url(#gradient)"> 
                    <animateTransform
                        attributeName="transform"
                        begin="0s"
                        dur="1.5s"
                        type="translate"
                        from="0,0"
                        to="40,0"
                        repeatCount="indefinite" />
                    </path>
                </pattern>
                </defs>
                <text text-anchor="middle" x="50" y="15" font-size="25" fill="url(#wave)"  fill-opacity="0.5">okinav</text>
                <text text-anchor="middle" x="50" y="15" font-size="25" fill="url(#gradient)" fill-opacity="0.1">okinav</text>
            </svg>
        </div>
    </h1>
      <div class="header-list">
      <ul>
        <li><%= link_to "旅館", hotels_path(category: "inn") %></li>
        <li><%= link_to "観光", hotels_path(category: "sightseen") %></li>
        <li><%= link_to "グルメ", hotels_path(category: "gurmet") %></li>
        <li>
          <a  class="menuButton" id="menuButton">
            <div></div>
            <div></div>
            <div></div>
          </a>
        </li>
      </ul>
      
      </div>
</header>



<nav id="nav">
        <ul>
          <li><%= link_to "投稿", new_hotel_path %></li>
          <li><%= link_to "My page",user_path(current_user.id) %></li>
          <li><%= button_to 'Log out',destroy_user_session_path, method: :delete %></li>
        </ul>
</nav>

<div class="mask" id="mask"></div>

 <div class="box">
  <div class="box_main">
      <div class="contents">
            <section id="section1">
                <li class="animationTarget">
                    <div class="images page1">
                        
                    </div>
                    <div class="contentsText">
                        <h2>hotel</h2>
                        <p>旅館の投稿サイトをご覧ください。
                          <br>
                            旅館の魅力を投稿してください！
                          <br>
                            写真は「アラマハイナ コンドホテル」
                          <br>
                            沖縄リゾートホテルの一角です。
                        </p>
                    </div>
                </li>
            </section>

            <section id="section2">
                <li class="animationTarget">
                    <div class="images page2">
                        
                    </div>
                    <div class="contentsText">
                        <h2>sightseeing</h2>
                        <p>観光の投稿サイトをご覧ください。
                            <br>
                            アクティブ・自然・ショッピングなど
                            <br>
                            たくさんの投稿、お待ちしています！
                            <br>
                            写真は「首里城」
                            <br>
                            沖縄を代表とする歴史的建造物です。
                        </p>
                    </div>
                </li>
            </section>

            <section id="section3">
                <li class="animationTarget">
                    <div class="images page3">
                        
                    </div>
                    <div class="contentsText">
                        <h2>gurmet</h2>
                        <p>グルメの投稿サイトをご覧ください。
                            <br>
                            沖縄に行ったら絶対行きたい、食べてみたい
                            <br>
                            沖縄ならではの魅力と特色を伝えてください！
                            <br>
                            写真は「海ぶどう丼」
                            <br>
                            恩納村というお店の看板メニューです！
                        </p>
                    </div>
                </li>
            </section>

            <section id="section4">
                <li class="animationTarget">
                    <div class="images page4">
                        
                    </div>
                    <div class="contentsText">
                        <h2>let's post!</h2>
                        <p>投稿やレビューを見る事が出来ます。
                            <br>
                            投稿の閲覧は「旅館」「観光」「グルメ」
                            <br>
                            から選びコメント、いいねお願いします！
                            <br>
                            投稿の際、白いボックスのメニューバー
                            <br>
                            から投稿してください！
                            <br>
                            皆さんの投稿お待ちしています。
                            
                        </p>
                    </div>
                </li>
            </section>
        </div>
   
    <footer>
          <p>Copyright © GeekSalon All Rights Reserved.</p>
    </footer>
 </div>
</div>

<script>
  
document.addEventListener('DOMContentLoaded',function() {
    document.getElementById("menuButton").addEventListener("click", function() {
        this.classList.toggle("active");
        document.getElementById('nav').classList.toggle('active');
        document.getElementById('mask').classList.toggle('active');
    })
});

document.getElementById('mask').addEventListener('click', function() {
    this.classList.remove('active')
    document.getElementById('nav').classList.remove('active')
    document.getElementById('menuButton').classList.remove('active')
})

const targetElement = document.querySelectorAll(".animationTarget");
document.addEventListener("scroll",function(){
    for(let i =0; i< targetElement.length; i++) {
        const getElementDistance = targetElement[i].getBoundingClientRect().top + targetElement[i].clientHeight * .5
        if (window.innerHeight > getElementDistance) {
            targetElement[i].classList.add("show");
        }
    }
})

</script>









