<%= stylesheet_link_tag 'My_pro', :media => "all" %>

<div class="myall_contents">

  <div class="card">

    <div class="bubbles-container">
      <svg class="bubbles" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 701 1024" style="overflow: visible;">

        <g class="bubbles-large" stroke-width="7">
            <g>
                <g transform="translate(10 940)">
                    <circle cx="40" cy="40" r="40"/>
                </g>
            </g>
            <g>
                <g transform="translate(373 940)">
                    <circle cx="35" cy="35" r="35"/>
                </g>
            </g>
            <g>
                <g transform="translate(408 940)">
                    <circle cx="31" cy="31" r="31"/>
                </g>
            </g>
            <g>
                <g transform="translate(621 940)">
                    <circle cx="45" cy="45" r="45"/>
                </g>
            </g>
            <g>
                <g transform="translate(179 940)">
                    <circle cx="32" cy="32" r="32"/>
                </g>
            </g>
            <g>
                <g transform="translate(50 540)">
                    <circle cx="35" cy="35" r="35"/>
                </g>
            </g>
            <g>
                <g transform="translate(340 240)">
                    <circle cx="37" cy="37" r="37"/>
                </g>
            </g>
            <g>
                <g transform="translate(130 240)">
                    <circle cx="28" cy="28" r="28"/>
                </g>
            </g>
            <g>
                <g transform="translate(430 740)">
                    <circle cx="35" cy="35" r="35"/>
                </g>
            </g>
            <g>
                <g transform="translate(230 840)">
                    <circle cx="43" cy="43" r="43"/>
                </g>
            </g>
            <g>
                <g transform="translate(610 640)">
                    <circle cx="31" cy="31" r="31"/>
                </g>
            </g>
            <g>
                <g transform="translate(700 340)">
                    <circle cx="35" cy="35" r="35"/>
                </g>
            </g>
            <g>
                <g transform="translate(320 555)">
                    <circle cx="39" cy="39" r="39"/>
                </g>
            </g>
        </g>

        <g class="bubbles-small" stroke-width="4">
            <g>
                <g transform="translate(147 984)">
                    <circle cx="15" cy="15" r="15"/>
                </g>
            </g>
            <g>
                <g transform="translate(255 984)">
                    <circle cx="15" cy="15" r="15"/>
                </g>
            </g>
            <g>
                <g transform="translate(573 984)">
                    <circle cx="15" cy="15" r="15"/>
                </g>
            </g>
            <g>
                <g transform="translate(429 984)">
                    <circle cx="15" cy="15" r="15"/>
                </g>
            </g>
            <g>
                <g transform="translate(91 984)">
                    <circle cx="15" cy="15" r="15"/>
                </g>
            </g>
            <g>
                <g transform="translate(640 984)">
                    <circle cx="15" cy="15" r="15"/>
                </g>
            </g>
            <g>
                <g transform="translate(321 984)">
                    <circle cx="15" cy="15" r="15"/>
                </g>
            </g>
            <g>
                <g transform="translate(376 984)">
                    <circle cx="15" cy="15" r="15"/>
                </g>
            </g>
            <g>
                <g transform="translate(376 984)">
                    <circle cx="15" cy="15" r="15"/>
                </g>
            </g>
            <g>
                <g transform="translate(497 984)">
                    <circle cx="15" cy="15" r="15"/>
                </g>
            </g>
            <g>
                <g transform="translate(397 984)">
                    <circle cx="15" cy="15" r="15"/>
                </g>
            </g>
            <g>
                <g transform="translate(237 984)">
                    <circle cx="15" cy="15" r="15"/>
                </g>
            </g>
            <g>
                <g transform="translate(97 984)">
                    <circle cx="15" cy="15" r="15"/>
                </g>
            </g>
            <g>
                <g transform="translate(197 984)">
                    <circle cx="15" cy="15" r="15"/>
                </g>
            </g>
            <g>
                <g transform="translate(247 984)">
                    <circle cx="15" cy="15" r="15"/>
                </g>
            </g>
            <g>
                <g transform="translate(567 984)">
                    <circle cx="15" cy="15" r="15"/>
                </g>
            </g>

        </g>
      </svg>
    </div>

    <div class="login-element">

      <div class="login_title">
        <h2>My page!</h2>
      </div>
    
        <div class="field">
          
            <%= image_tag @user.image_url, class: "rounded-circle", size: "300x300" if @user.image? %>
        </div>

        <div class="field">
          <p class="my_user_pro">名前 : <%= @user.name %></p>
          <p class="my_user_pro">メールアドレス : <%= @user.email %></p>
          <p class="my_user_pro">プロフィール : <%= @user.profile %></p>
        </div>

          <div class="option">
              <% if current_user.id == @user.id %>
                <%= link_to "編集する", edit_user_registration_path %>
              <% end %>
          
              <%= link_to "Topに戻る", hotels_path(category: "inn") %>
          </div>
    </div>
  </div>




  <div class="tweets-container">
      <h1>投稿一覧</h1>
        <% @user.hotels.each do |t| %>
          <div class="tweet">
            <div class="tweet_left">
              <h2>「<%= t.title %>」</h2>
              <div class="image">
                <%= image_tag t.image_url, size: "500x400" if t.image? %>
              </div>
            </div>

            <div class="tweet_right">
              <div class="create_time"><%= t.created_at %></div>
              
              <div class="contents"><%= t.body %></div>
              
              <div class="user_edit">
                <div>
                  <% if user_signed_in? %>
                    <% if current_user.already_liked?(t) %>
                      <%= button_to hotel_like_path(id: t.id, hotel_id: t.id), method: :delete do %>
                        <i class="fas fa-heart"></i><%= t.likes.count %>
                      <% end %>
                    <% else %>
                      <%= button_to hotel_likes_path(id: t.id, hotel_id: t.id), method: :post do %>
                        <i class="far fa-heart"></i><%= t.likes.count %>
                      <% end %>
                    <% end %>
                  <% else %>
                    <i class="far fa-heart"></i><%= t.likes.count %>
                  <% end %>
                </div>
                <div><i class="far fa-comments"><%= link_to "コメント", hotel_path(t.id) %></i></div>
                <% if user_signed_in? && current_user.id == t.user_id %>
                  <div><%= link_to "編集する", edit_hotel_path(t.id) %></div>
                  <div><%= button_to "削除する", hotel_path(t.id), method: :delete %></div>
                <% end %>
              </div>
            </div>            
          </div>
        <% end %>
  </div>


  <div class="tweets-container">
        <h1>いいね一覧</h1>
        <%  @user.liked_hotels.each do |t| %>
          <div class="tweet">
            <div class="tweet_left">
              
              <h2>「<%= t.title %>」</h2>
              <div class="image">
                <%= image_tag t.image_url, size: "500x400" if t.image? %>
              </div>
            </div>

            <div class="tweet_right">
              <div class="create_time"><%= t.created_at %></div>
              
              <div class="contents"><%= t.body %></div>
              

              <div class="user_edit">
                <div>
                  <% if user_signed_in? %>
                    <% if current_user.already_liked?(t) %>
                      <%= button_to hotel_like_path(id: t.id, hotel_id: t.id), method: :delete do %>
                        <i class="fas fa-heart"></i><%= t.likes.count %>
                      <% end %>
                    <% else %>
                      <%= button_to hotel_likes_path(id: t.id, hotel_id: t.id), method: :post do %>
                        <i class="far fa-heart"></i><%= t.likes.count %>
                      <% end %>
                    <% end %>
                  <% else %>
                    <i class="far fa-heart"></i><%= t.likes.count %>
                  <% end %>
                </div>
                <div><i class="far fa-comments"><%= link_to "コメント", hotel_path(t.id) %></i></div>
                <% if user_signed_in? && current_user.id == t.user_id %>
                  <div><%= link_to "編集する", edit_hotel_path(t.id) %></div>
                  <div><%= button_to "削除する", hotel_path(t.id), method: :delete %></div>
                <% end %>
              </div>
            </div>            
          </div>
        <% end %>
      </div>
</div>


